/* banner图布局 */
.banner {
  height: 500px;
  background-color: #f5f5f5;
}
.banner .wrapper {
  position: relative;
  height: 500px;
}

.wrapper .aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 251px;
  background-color: rgba(0,0,0,0.8);
}
.wrapper .aside li {
  position: relative;
}
.wrapper .aside a {
  display: block;
  padding-left: 36px;
  height: 50px;
  width: 251px;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
}
.wrapper .aside a:hover {
  background-color: #27ba9b;
}

.wrapper .aside a::after {
  position: absolute;
  content: '';
  right: 19px;
  top: 19px;
  width: 6px;
  height: 11px;
  background-image: url(../images/sprites.png);
  background-position: -79px -110px;
}


.wrapper .aside a span {
  font-size: 14px;
  margin-left: 18px;
}

.prev,
.next {
  position: absolute;
  top: 228px;
  width: 44px;
  height: 44px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50%;
  background-image: url(../images/sprites.png);
}
.prev {
  left: 260px;
  background-position: 14px -61px;
}
.next {
  right: 16px;
  background-position: -24px -62px;
}
.dot ol {
  position: absolute;
  top: 459px;
  left: 680px;
  height: 10px;
  width: 200px;
  /* background-color: pink; */
}
.dot a {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 24px;
  background-color: rgba(0,0,0,0.43);
}
 .dot ol .active {
  background-color: #fff;
 }
